{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}

<div class="example-wrapper">

    {% include "products/details.html.twig" %}    

</div>
{% endblock %}
