{% extends "base.html.twig" %}

{% block title %}Administration des Catégories{% endblock %}

{% block body %}
    <main class="container">
        <section class="row nowrap">

            <div class="row nowrap">
                {% include "_partials/_adminnav.html.twig" %}
                
                <div class="col-8">

                <h1>Ajouter une categorie</h1>
                {% include "admin/categories/_form.html.twig" with {'button_label': 'Ajouter'} %}

                </div>

            </div>

        </section>
    </main>
{% endblock %}