body{
    background-color: rgb(133, 128, 121);
}
.vitrine{
    height: auto;
    width: 90%;
    background-color: royalblue;
}
.vitrine__liste{
    display: flex;
    flex-direction: row;

}
.vitrine__image{
    height: 150px;
    width: 150px;
}





/* Composants */

.centre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn__add{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    color: rgb(0, 0, 0);
}
a{
    text-decoration: none;
}

.relatif{
    position: absolute;
    top: 76px;
    right: -50%;

}

.decoration{
    text-decoration: none;
    font-size: large;
    font-weight: 900;
    color: rgb(0, 0, 0);
}
.btn__add:hover{
    background-color: rgb(240, 240, 240);
    border: none;
    color: white;
}



.no-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}