
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/menu/nav-1.css') }}">
{% endblock %}














<nav class="navbar">
    <a href="#" class="logo">TITRE</a>
    <div class="nav-link">
        <ul>
            <li><a href="#" class="">ACCUEIL</a></li>
            <li><a href="#" class="">BOUTIQUE</a></li>
            <li><a href="#" class="">FABRICATION</a></li>
            <li><a href="#" class="">CONTACT</a></li>
        </ul>
    </div>
    <img src="logos/hamburger96black.png" alt="MENU BURGER" class="menu__burger">
</nav>















{% block javascripts %}
    <script src="{{ asset('assets/js/menu/nav-1.js') }}" defer></script>

{% endblock %}




